<h1>It's a CIS 196 party!</h1>

<form action="/" method="post" accept-charset="utf-8">
  <div class="field">
    <label for="Name">Name</label>
    <input type="text" name="Name" value="" id="Name" required>
    <span class="optional">* required</span>
  </div>

  <br />
  <div class="field">
    <label for="Location">Location</label>
    <input type="text" name="Location" value="" id="Location" required>
    <span class="optional">* required</span>
  </div>

  <br />
  <div class="field">
    This will just help me find you faster.
    <br />
    <label for="Wearing">Wearing</label>
    <input type="text" name="Wearing" value="" id="Wearing">
    <span class="optional">(Optional)</span>
  </div>

  <br />
  <div class="field">
    Please put in your phone number or email here, and I will let you know how long it'll be before I can help you.
    <br />
    <label for="Contact">Contact</label>
    <input type="text" name="Contact" value="" id="Contact">
    <span class="optional">(Optional)</span>
  </div>

  <br />
  <input type="submit" value="Submit">
</form>
